
li {
color: #fff;
list-style: none;
display: inline-block; 
text-align: center;
padding:  25px;
}

body {
  background-color: #000000;/* Pone todo el fondo en negro */
}

/* Estilos generales para el header */
header {
  background-color: #000000; /* Negro asfalto */
  text-align: center; /* Centramos el contenido (la lista) */
}

/* Estilos para la lista principal */
header ul {
  list-style: none; /* Quita los puntos de la lista */
  padding: 0;
  margin: 0;
  
}

/* Estilos para los elementos de la lista */
header li {
  /* La clave para poner los elementos en línea */
  padding: 10 20;
  border: 2px red;
  margin: 0 20px;


}

/* Estilos para los enlaces dentro de los elementos de la lista */
header li a {
padding: 5px 10px;
text-decoration: none;

  font-weight: bold;
  text-transform: uppercase;
   background-color: #9b0e0e; /* Un gris oscuro */
  color: #000000; /* El color de acento */
}
 



h1, h2 {
color: red; 
text-align: center;

}


p {color: #fff;
font-size: large;
margin-left: 155px;
margin-right: 155px;

}

#imagenPortada {
text-align: center;
}

#logoUniversal {
 margin-left: 25%;
  width: 50%;
}

.Datos{
  display: inline-block; /* Hace que se ubiquen uno al lado del otro */
  margin: 60px; 
  text-align: left;
  width: 400px;
  margin-top: 10px;

}

#Datos2{
 margin: 130px;
}
.FotoReparto {
  width: 400px;
  height: 400px;
}

.NombreReparto{
  font-size: x-large;
  text-align: center;
}



